
button {
    height: 150px;
    width: 150px;
    
}

#reset {
    height: 30px;
    margin-top: 30px;
    
}

main {
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    
    
}

